html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
    /* font-size: 12px; */
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}